body {
  touch-action: manipulation;
  background-image: url("./bg-texture.jpg"); }

.white {
  background-color: #fff; }

.black {
  background-color: #000;
  color: #fff; }

.blue {
  background-color: #3786c8; }

.red {
  background-color: #e03c34; }

.green {
  background-color: #4da040; }

.bg-mask {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -100;
  opacity: .5; }

.field {
  padding-top: 10px; }

.player {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 10px; }

.life-stats {
  font-family: "Alegreya", serif;
  color: #000;
  font-size: 120px;
  line-height: 120px;
  margin-left: 20px;
  margin-right: 20px; }

.field.black .life-stats {
  color: #fff; }

.reset-button {
  position: absolute;
  top: 10px;
  right: 10px; }

button.life-stats {
  font-size: 60px;
  padding: 0;
  outline: 0;
  border: 0;
  background-color: inherit; }

.color-controls {
  width: 60%;
  margin: 0 auto;
  white-space: nowrap; }
  .settings-on .color-controls {
    width: 100%; }
  .color-controls li {
    margin: 0;
    margin-right: 5px;
    height: 42px;
    width: 42px;
    font-size: 32px;
    line-height: 42px;
    box-sizing: border-box;
    border-radius: 21px;
    text-align: center;
    position: relative;
    opacity: .5; }
    .settings-on .color-controls li {
      display: inline-block; }
    .color-controls li.settings {
      background-image: url("./gear.png");
      background-size: cover;
      border: none;
      display: inline-block; }
    .color-controls li.selected {
      opacity: 1; }

.deck {
  width: 80px;
  height: 120px;
  text-align: center;
  margin: 0 10px 10px 0;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #000;
  background-image: url("./mtg-card-back.png");
  background-repeat: no-repeat;
  background-size: cover; }

.token-creature {
  width: 80px;
  height: 120px;
  text-align: center;
  margin: 0 10px 10px 0;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #000;
  position: relative;
  font-size: 12px;
  background-color: #fff; }
  .token-creature .token-color {
    margin: 0;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    font-size: 30px;
    line-height: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    position: relative; }
  .token-creature .stats {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 11px;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 4px; }

.token-creature-editor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  border: 5px solid #000;
  background-color: #fff;
  display: none; }
  .editing-on .token-creature-editor {
    display: block; }
  .token-creature-editor button {
    font-size: 24px;
    display: inline-block;
    font-family: "Alegreya", serif;
    border-radius: 4px;
    background-color: #999; }
  .token-creature-editor label,
  .token-creature-editor input,
  .token-creature-editor legend {
    font-size: 24px;
    display: block;
    font-family: "Alegreya", serif;
    margin: 10px auto;
    width: 80%; }
  .token-creature-editor input[type=text] {
    padding: 3px 5px; }
  .token-creature-editor label,
  .token-creature-editor legend {
    text-align: center; }
  .token-creature-editor input {
    border: 1px solid #999; }
  .token-creature-editor .buttons {
    text-align: center; }
  .token-creature-editor .strength {
    text-align: center; }
    .token-creature-editor .strength input {
      display: inline-block;
      width: 50px; }
      .token-creature-editor .strength input:first-of-type {
        margin-right: 10px; }

.battlefield {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px; }
