$alegreya: 'Alegreya', serif;
$blue: rgba(55, 134, 200, 1);
$red: rgba(224, 60, 52, 1);
$green: rgba(77, 160, 64, 1);
$black: #000;
$white: #fff;

body {
  touch-action: manipulation;
  background-image: url('./bg-texture.jpg');
}

.white {
  background-color: $white;
}

.black {
  background-color: $black;
  color: $white;
}

.blue {
  background-color: $blue;
}

.red {
  background-color: $red;
}

.green {
  background-color: $green;
}

.bg-mask{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -100;
  opacity: .5;
}

.settings {
  height: 40px;
  width: 40px;
}

.player {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 10px;
}

.life-stats {
  font-family: $alegreya;
  color: #000;
  font-size: 120px;
  line-height: 120px;
  margin-left: 20px;
  margin-right: 20px;
}

.field.black .life-stats {
  color: #fff;
}

button.life-stats {
  // border-radius: 40px;
  // line-height: 72px;
  font-size: 60px;
  padding: 0;
  outline: 0;
  border: 0;
  background-color: inherit;
}

.color-controls {
  position: absolute;
  z-index: 100;
  width: 60px;
  overflow: hidden;
  white-space: nowrap;
  transition: width 1s;

  .settings-on & {
    width: 100%;
  }

  li {
    margin: 0;
    margin-right: 5px;
    height: 42px;
    width: 42px;
    font-size: 32px;
    line-height: 42px;
    box-sizing: border-box;
    border-radius: 21px;
    text-align: center;
    display: none;

    .settings-on & {
      display: inline-block;
    }

    &.settings {
      background-image: url('./gear.png');
      background-size: cover;
      border: none;
      display: inline-block;
    }
  }
}
