$alegreya: 'Alegreya', serif;
$blue: rgba(55, 134, 200, 1);
$red: rgba(224, 60, 52, 1);
$green: rgba(77, 160, 64, 1);
$black: #000;
$white: #fff;

body {
  touch-action: manipulation;
  background-image: url('./bg-texture.jpg');
}

.white {
  background-color: $white;
}

.black {
  background-color: $black;
  color: $white;
}

.blue {
  background-color: $blue;
}

.red {
  background-color: $red;
}

.green {
  background-color: $green;
}

.bg-mask{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -100;
  opacity: .5;
}

.settings {
  height: 40px;
  width: 40px;
}

.player {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 10px;
}

.life-stats {
  font-family: $alegreya;
  color: #000;
  font-size: 120px;
  line-height: 120px;
  margin-left: 20px;
  margin-right: 20px;
}

.field.black .life-stats {
  color: #fff;
}

button.life-stats {
  // border-radius: 40px;
  // line-height: 72px;
  font-size: 60px;
  padding: 0;
  outline: 0;
  border: 0;
  background-color: inherit;
}

.color-controls {
  // position: absolute;
  // z-index: 100;
  // width: 60px;
  white-space: nowrap;
  transition: width 1s;

  .settings-on & {
    width: 100%;
  }

  li {
    margin: 0;
    margin-right: 5px;
    height: 42px;
    width: 42px;
    font-size: 32px;
    line-height: 42px;
    box-sizing: border-box;
    border-radius: 21px;
    text-align: center;
    position: relative;
    // display: none;

    .settings-on & {
      display: inline-block;
    }

    &.settings {
      background-image: url('./gear.png');
      background-size: cover;
      border: none;
      display: inline-block;
    }

    &.selected:after {
      height: 46px;
      width: 46px;
      border-radius: 23px;
      content: '';
      background-color: yellow;
      top: 0;
      left: 0;
      z-index: -10;
      position: absolute;
    }
  }
}

.deck {
  width: 70px;
  height: 100px;
  text-align: center;
  line-height: 75px;
  margin: 0;
  padding: 0;
  font-size: 30px;
  border-radius: 5px;
  background-image: url('./mtg-card-back.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #000;
}

.token-creature-editor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  border: 5px solid #000;
  background-color: #fff;
  display: none;

  .editing-on & {
    display: block;
  }

  button {
    font-size: 24px;
    display: inline-block;
    font-family: $alegreya;
    border-radius: 4px;
    background-color: #999;
  }

  label,
  input,
  legend {
    font-size: 24px;
    display: block;
    font-family: $alegreya;
    margin: 10px auto;
    width: 80%;
  }

  label,
  legend {
    text-align: center;
  }

  input {
    border: 1px solid #999;
  }

  .strength input {
    display: inline-block;
    width: 50px;
  }
}
