body {
  touch-action: manipulation; }

.white {
  background-color: #fff; }

.black {
  background-color: #000; }

.blue {
  background-color: #3786c8; }

.red {
  background-color: #e03c34; }

.green {
  background-color: #4da040; }

.field {
  height: 100vh; }

.settings {
  height: 40px;
  width: 40px; }

.player {
  height: 25vh;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 10px; }

.life-stats {
  font-family: "Alegreya", serif;
  color: #000;
  font-size: 120px;
  line-height: 120px;
  margin-left: 20px;
  margin-right: 20px; }

.field.black .life-stats {
  color: #fff; }

button.life-stats {
  font-size: 60px;
  padding: 0;
  outline: 0;
  border: 0;
  background-color: inherit; }

.color-controls {
  width: 40px;
  overflow: hidden;
  white-space: nowrap;
  transition: width 2s; }
  .settings-on .color-controls {
    width: 100%; }
  .color-controls li {
    height: 35px;
    width: 35px;
    border-radius: 18px;
    border: 1px solid #999;
    box-sizing: border-box;
    margin-left: 15px;
    margin-top: 5px;
    overflow: hidden;
    text-indent: -3000px;
    display: none; }
    .settings-on .color-controls li {
      display: inline-block; }
    .color-controls li.settings {
      margin: 0;
      height: 40px;
      width: 40px;
      background-image: url("./gear.png");
      background-size: cover;
      border: none;
      display: inline-block; }
